{% extends "base.html" %}

{% block content %}

<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../static/user_profile.css">
</head>


  <section class="user-profile">
    <div class="header">
      <div class="cover">
        <div class="user-profile-avatar">
          <img src=" {{ user.profile.avatar.url }} " alt="img-avatar"/>
        </div>
      </div>
    </div>
    <div class="user-profile-body">
      {% if user.is_authenticated %}
      <div class="user-profile-bio">
        <h3 class="title">{{user.username.title}}</h3>
      </div>
      <div class="user-profile-footer">
        <ul class="data-list">
          <li>Name: {{user.username.title}}</li>
          <li>Surname: {{user.last_name.title}}</li>
          <li> email: {{user.email}}</li>
          <li>Bio: {{user.profile.bio}}</li>


          {% else %}
          {% endif %}
        </ul>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <br>
        {% if user.profile.id %}
        <a type="button" class="btn btn-outline-dark"
               class="btn btn-primary" href="{% url 'users-edit_profile' %}" role="button">Edit profile</a>
        <a type="button" class="btn btn-outline-danger" class="btn btn-primary" href="{% url 'users-delete_account'%}" role="button">Remove profile</a>
        {% else %}
        <a type="button" class="btn btn-outline-dark"
               class="btn btn-primary" href="{% url 'create_profile_page' %}" role="button">Create profile</a>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}


