{% extends "base.html" %}
{% load static %}

{% block content %}

<form class="form-wrapper" method="post">
    {% csrf_token %}
    {{error}}

    {% for s in search %}

    <h5 class="card-title">Subscribe to search
        {{s.fly_from.city}}({{s.fly_from.iata_code}})
        - {{s.fly_to.city}}({{s.fly_to.iata_code}})
    </h5>

    <div class="container-sm">

        <div class="my-2 card">
            <div class="card-body py-1">
                <div class="row">

                    <div class="my-1 col-md-10">
                        <div class="h-100 card p-0 m-0">
                            <div class="card-body p-0 m-0">
                                <ul class="list-group list-group-flush my-1">


                                    <li class="list-group-item my-0">
                                        <div class="row align-items-center">

                                            <div class="col-2">
                                            {{ form.as_p }}
                                            </div>



                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                    <!--        price            -->

                    <div class="my-1 col ">
                        <div class="h-100 card">
                            <div class="card-body py-0 my-0">
                                <div class="row mt-2 mb-0">

                                </div>
                                <div class="row mt-0 mb-2">

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

        <div class="d-grid gap-2 col-12 mx-auto">
            {% if user.is_authenticated %}
            <button type="submit" id="subscribe-button"
                    class="w-100 btn btn-primary">
                Subscribe

            </button>
            {% else %}
            <button disabled type="submit" id="subscribe-button-disabled"
                    class="w-100 btn btn-primary">
                Please login to subscribe

            </button>
            {% endif %}

        </div>
    </div>
</form>

{% endblock %}