{% extends "base.html" %}
{% load static %}

{% block content %}

<form class="form-wrapper">
    <!--    {% csrf_token %}-->
    <!--    {{error}}-->


    <h5 class="card-title">Your subscriptions:
    </h5>

    <div class="container-sm">
        <div class="my-2 card">
            <div class="card my-0">

                <div class="row mx-0 align-items-center">
                    <div class="my-0 mx-0 px-0 col">
                        <div class="card h-100 card-header border-0">
                            <strong>Origin</strong>
                        </div>
                    </div>

                    <div class="my-0 mx-0 px-0 col">
                        <div class="card h-100 card-header border-0">
                            <strong>Destination</strong>
                        </div>
                    </div>

                    <div class="my-0 mx-0 px-0 col-2">
                        <div class="card h-100 card-header border-0">
                            <strong>Dates</strong>
                        </div>
                    </div>

                    <div class="my-0 mx-0 px-0 col">
                        <div class="card h-100 card-header border-0">
                            <strong>Email</strong>
                        </div>
                    </div>
                    <div class="my-0 mx-0 px-0 col-1">
                        <div class="card h-100 card-header border-0 px-0">
                            <strong>Price</strong>
                        </div>
                    </div>
                    <div class="my-0 mx-0 px-0 col-1">
                        <div class="card h-100 card-header border-0">
                            <strong>Edit</strong>
                        </div>
                    </div>
                </div>
            </div>

            {% for s in subscription %}
            <div class="card my-1">

                <div class="row mx-0 align-items-center">

                    <div class="my-1 mx-0 px-0 col">
                        <div class="card border-0">
                            {{ s.search.fly_from }}
                        </div>
                    </div>

                    <div class="my-1 mx-0 px-0 col">
                        <div class="card border-0">
                            {{ s.search.fly_to }}
                        </div>
                    </div>

                    <div class="my-1 mx-0 px-0 col-2">
                        <div class="card border-0">
                            {{ s.search.departure_date }}
                            {% if s.search.return_date %}
                            - {{ s.search.return_date }}
                            {% endif %}

                        </div>
                    </div>

                    <div class="my-1 mx-0 px-0 col">
                        <div class="card border-0">
                            {{ s.email }}
                        </div>
                    </div>

                    <div class="my-1 mx-0 px-0 col-1">
                        <div class="card border-0">
                            <p class="m-0"> {{ s.price_to }} </p>
                            <p class="m-0"> {{ s.curr }} </p>

                        </div>
                    </div>

                    <div class="my-1 mx-0 px-0 col-1">
                        <div class="card border-0">

                            <button
                                    type="button"
                                    class="btn-sm  btn btn-outline-primary w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#update-modal"
                                    data-update_url="{% url 'update_subscription' s.id %}"
                                    data-price="{{ s.price_to }}"
                                    data-curr="{{ s.curr }}"
                                    data-email="{{ s.email }}"
                                    data-update_text="{{ s.search.fly_from }} - {{ s.search.fly_to }}"

                            >
                                Update
                            </button>

                            <button
                                    type="button"
                                    class="btn-sm  btn btn-outline-danger w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-delete_url="{% url 'delete_subscription' s.id %}"
                                    data-delete_info="{{ s.search.fly_from }} - {{ s.search.fly_to }}"

                            >
                                Delete
                            </button>


                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-all-modal"
                    data-delete_url="{% url 'delete_all_subscription' %}"
            >
                Delete all subscriptions
            </button>
        </div>


    </div>

</form>


<br>


<div class="modal fade" id="delete-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Delete</h6>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body justify-content-left">
                <p>
                    Are you sure you want to delete the subscription
                </p>
                <br>
                <p class="info-entry">
                </p>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-smm"
                        data-bs-dismiss="modal">Cancel
                </button>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-smm">Delete
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="delete-all-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Delete</h6>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body justify-content-left">
                <p>
                    Are you sure you want to delete all your subscriptions?
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-smm"
                        data-bs-dismiss="modal">Cancel
                </button>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-smm">Delete
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="update-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Update</h6>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p id="id_update_text">

                    </p>
                    <p>
                        <label for="id_price_to">Price to:</label>
                        <input type="number" name="price_to" value=""
                               min="0" id="id_price_to">


                    </p>
                    <p>
                        <label for="id_curr">Curr:</label>
                        <select name="curr" id="id_curr">
                            <option value="EUR">Euro</option>

                            <option value="USD">US Dollar</option>

                            <option value="GBP">British Pound</option>

                            <option value="AUD">Australian Dollar</option>

                            <option value="CAD">Canadian Dollar</option>

                            <option value="NZD">New Zealand Dollar</option>

                            <option value="CHF">Swiss Franc</option>

                            <option value="SEK">Swedish Krona</option>

                            <option value="DKK">Danish Krone</option>

                            <option value="NOK">Norwegian Krone</option>

                            <option value="JPY">Japanese Yen</option>

                            <option value="MXN">Mexican Peso</option>

                            <option value="BRL">Brazilian Real</option>

                            <option value="CNY">Chinese Yuan</option>

                            <option value="RUB">Russian Ruble</option>

                            <option value="INR">Indian Rupee</option>

                            <option value="KRW">South Korean Won</option>

                            <option value="TRY">Turkish Lira</option>

                            <option value="ZAR">South African Rand</option>

                            <option value="PLN">Polish Zloty</option>

                            <option value="RON">Romanian Leu</option>

                            <option value="HUF">Hungarian Forint</option>

                            <option value="CZK">Czech Koruna</option>

                            <option value="PHP">Philippine Peso</option>

                            <option value="MYR">Malaysian Ringgit</option>

                            <option value="THB">Thai Baht</option>

                            <option value="IDR">Indonesian Rupiah</option>

                            <option value="ISK">Icelandic Krona</option>

                            <option value="BGN">Bulgarian Lev</option>

                            <option value="HRK">Croatian Kuna</option>

                            <option value="RON">Romanian Leu</option>

                            <option value="TRY">Turkish Lira</option>

                            <option value="BRL">Brazilian Real</option>

                            <option value="CNY">Chinese Yuan</option>

                        </select>


                    </p>
                    <p>
                        <label for="id_email">Email:</label>
                        <input type="email" name="email"
                               value="" maxlength="254"
                               required="" id="id_email">
                    </p>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-smm"
                            data-bs-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-danger btn-smm">
                        Update
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $('#delete-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var delete_info = button.data('delete_info')
        var url = button.data('delete_url')
        var modal = $(this)

        modal.find('.modal-body .info-entry').text(delete_info)
        modal.find('.modal-footer form').attr('action', url)
    })

</script>

<script>
    $('#delete-all-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var url = button.data('delete_url')
        var modal = $(this)

        modal.find('.modal-footer form').attr('action', url)
    })

</script>

<script>
    $('#update-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var price = button.data('price')
        var curr = button.data('curr')
        var email = button.data('email')
        var update_text = button.data('update_text')
        var url = button.data('update_url')
        var modal = $(this)

        modal.find('#id_price_to').val(price)
        modal.find('#id_curr').val(curr)
        modal.find('#id_email').val(email)
        modal.find('#id_update_text').text(update_text)
        modal.find('.modal-content form').attr('action', url)
    })

</script>
{% endblock %}

