body {

    background: rgb(215, 215, 232);
    background: linear-gradient(90deg, rgba(215, 215, 232, 1) 1%, rgba(6, 172, 245, 1) 32%, rgba(0, 212, 255, 1) 100%);
    color: #333;
    height: 100vh;
    margin: 0;
    /*background: #f6f6f6;*/
    font: 15px Lucida sans, Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: #2A679F;
}

.bg-light {

    border-radius: 10px;

}

.card {

    background-color: rgba(255, 255, 255, 80%);
    border-radius: 10px;

}

.form-wrapper {

    background-color: rgba(255, 255, 255, 60%);
    border-color: #dedede #bababa #aaa #bababa;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    margin: 20px auto;
    overflow: hidden;
    padding: 8px;
    max-width: 800px;
}

.form-check-input {
    margin-top: 0;
}


.flex-1 {
    flex: 1;
}

.btn {
    font-size: 1.5rem;
    padding: 0.1rem 0.15rem;
}

.btn-sm {
    font-size: 0.75rem;
    padding: 0.05rem 0.05rem;
}
.btn-smm {
    font-size: 1.0rem;
    padding: 0.05rem 0.25rem;
}


.user-profile-body user-profile {
    max-width: 600px;
}

.cover {
    max-width: 800px;
}
#navBarContainer {
    max-width: 800px;
}

