{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlightSearch</title>
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
            rel="stylesheet"
            href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <link
            rel="stylesheet"
            href="../static/style.css"
    >


    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../static/script.js"></script>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container fluid" id="navBarContainer">
        <a class="navbar-brand" href="/">FlightSearch</a>

        <div class="nav_bar_right">

            <div class="collapse navbar-collapse" id="navbarNavLightDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/"
                           id="navbarLightDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, {{user.first_name.title|default:'Guest'}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light"
                            aria-labelledby="navbarLightDropdownMenuLink">


                            {% if user.is_authenticated %}

                            <li>
                                <a class="dropdown-item" href="/profile">
                                    My profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/subscriptions">
                                    My subscriptions
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/search_history">
                                    My search history
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'account_logout' %}?next={{ request.path }}">
                                    Logout
                                </a>
                            </li>

                            {% else %}

                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'account_login' %}">
                                    Login
                                </a>
                            </li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert">
            ×
        </button>
    </div>
    {% endfor %}
    {% endif %}
</nav>


<div>

    {% block content %}
    {% endblock %}

</div>
</body>

</html>